/***** HEADER *****/

header {
    background-color: var(--main-color);
}

.container-xl {
    color: white;
}

#jumbo {
    background-color: #1abc9c;
}

:root {
    --main-color: #2c3e50;
    --secondary-color: #1abc9c;
}

